@media (min-width: 48em) {
    html {
        font-size: 14px;
    }
}

h2 a,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    color: #b34848;
}

.blog-post-title :hover {
    color: #b34848; 
}

.blog-masthead {
    background-color: #b34848;
}

.comment ul {
    list-style: none;
}



@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}